@import "settings";
@import "foundation";
@import "reset";



/* -------- ATTENTE INDEX --------- 
----------------------------------- */

$blanc:#FFF;
$gris:#e6e6e6;
$rose:#ff3e54;
$mauve:#8c7bfa;

h2{
	color:$mauve;
	font-weight:700;
	font-size:1.4em;
}

$slogan-font-family:"effra", sans-serif;

body{
	font-size:20px;
	font-family:$font-family-sans-serif;
}
header{
	background:url('../img/pattern-320.png') repeat-x;
}
#slogan{
	margin:40px 0 35px 0;
	text-transform:uppercase;
	color:$blanc;
	font-family:$slogan-font-family;
	font-weight:300;
}

#info{
	background-color:$gris;
	padding:20px;
	line-height:1.5;
	color:$rose;
	#mail{
		margin: 35px auto;
		font-weight: 700;

		a:link, a:visited, a:active{
			color: $rose;
			border-bottom: 3px solid $rose;
		}
	}
}
footer{
	background:url('../img/bg-lancement-mobile.png') no-repeat center;
	background-size:100%;
	padding:20px;
	box-sizing:border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

	#date{
		letter-spacing: 1px;
		color:$mauve;
		text-transform: uppercase;
		font-family: $slogan-font-family;
		padding-top: 8px;
		font-size: 1.2em;
		font-weight: 300;
	}

}