@import "settings";
@import "foundation";
@import "reset";



/* -------- ATTENTE INDEX --------- 
----------------------------------- */

$blanc:#FFF;
$gris:#e6e6e6;
$rose:#ff3e54;
$mauve:#8c7bfa;

$slogan-font-family:"effra", sans-serif;

body{
	font-size:20px;
	font-family:$font-family-sans-serif;
}
header{
	background:url('../img/pattern-320.png') repeat-x;
}
#slogan{
	margin:40px 0 35px 0;
	text-transform:uppercase;
	color:$blanc;
	font-family:$slogan-font-family;
	font-weight:300;
}
#logo-container{
	text-align:center;
	img{
		max-width:80%;
	}
}

#info{
	background-color:$gris;
	padding:20px;
	line-height:1.5;
	color:$rose;
	#mail{
		margin: 35px auto;
		font-weight: 700;

		a:link, a:visited, a:active{
			color: $rose;
			border-bottom: 3px solid $rose;
		}
	}
}
footer{
	background:url('../img/bg-lancement-mobile.png') no-repeat center;
	background-size:100%;
	padding:20px;
	box-sizing:border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

	#lancement{
		p{
			color:$mauve;
			font-weight:700;
			font-size:1.4em;
		}
		#date{
			display: block;
			letter-spacing: 1px;
			color:$mauve;
			text-transform: uppercase;
			font-family: $slogan-font-family;
			font-size: 1em;
			font-weight: 300;
		}
	}

}



@media only screen and (min-width: 40.063em) { 

	body{
		font-size:28px;
	}
	header{
		background:url('../img/pattern-medium.png') repeat-x;
	}
	#slogan{
		font-size: 1.6em;
		margin:50px 0 35px 0;
	}
	#info{
		padding:40px 120px;
		#mail{
			font-size: 0.8em;
		}
	}
	footer{
		background:url('../img/bg-lancement-tablette.png') no-repeat center;
		background-size:cover;

		#lancement{
			padding: 40px 0;
			#date{
				display: inline;
			}
		}

	}
}


@media only screen and (min-width: 64.063em) { 

	body{
		font-size:20px;
		position:relative;
	}
	#wrapper{
		width: 100%;
		height: 80vh;
	}

	#entete,#main-content,#bas-page{
		max-width: none;
	}
	header{
		background:url('../img/pattern-medium.png') repeat-x;
	
	}
	#slogan{
		font-size: 1.4em;
		margin:45px 0 30px 0;
	}
	#logo-container{
		height: 100%;
		img{
			width:100%;
			max-width: 400px;
			min-width: 300px;
		}
	}
	#main-content{
		height:100%;
	}
	#info{
		height:100%;
		padding:80px 120px;
		font-size: 1em;
		#info-wrapper {
			max-width: 600px;
			min-width: 400px;
			margin: 0 auto;
		}
	}
	footer{
		background:url('../img/bg-lancement-large.png') no-repeat center;
		position:fixed;
		bottom:0;

	}
}


@media only screen and (min-width: 90.063em) {
	body{
		font-size:26px;
		position:relative;
	}

	header{
		background:url('../img/pattern-large.png') repeat-x;
	
	} 
	#wrapper{
		width: 100%;
		height: 75vh;
	}
	#slogan{
		font-size: 1.8em;
		margin:120px 0 80px 0;
	}

	#info{
		padding:140px 120px;
		font-size: 1.4em;
	}
	#logo-container{
		img{
			max-width: 600px;
			min-width: 300px;
		}
	}



}